{% extends "base.html" %}

{% block content %}

<div class="row">

  <div class="col-lg-4">
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{ total }}</h3>
        <p>Total Systems</p>
      </div>
      <div class="icon">
        <i class="fas fa-desktop"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="small-box bg-success">
      <div class="inner">
        <h3>{{ available }}</h3>
        <p>Available</p>
      </div>
      <div class="icon">
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>{{ occupied }}</h3>
        <p>Occupied</p>
      </div>
      <div class="icon">
        <i class="fas fa-times"></i>
      </div>
    </div>
  </div>

</div>

{% endblock %}